* {
    font-family: sans-serif;
}

body {
    display: flex;
    margin: 0;
    background: linear-gradient(180deg,rgba(0, 54, 46, 1) 0%, rgba(0, 173, 156, 1) 100%);   
    justify-content: center;
}

.main_container {
    display: flex;
    flex-direction: column;
    margin: 10px;   
    width: 80%;
    background-color: rgba(0, 54, 46, 0.5); 
    border-radius: 10px;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(0, 190, 190);   
    border: 1px solid black;
    margin: 0;
    justify-content: space-between;
    border-radius: 10px;
}


nav {
    width: 50%;
    display: flex;
    flex-direction: reverse;
}

ul {
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;    
    
}


.col {
    background-color: rgb(0, 200, 200);
    padding-left: 5px;
    padding-right: 5px;     
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    
}


.col p {
    margin: 10px;
    color: black;
}
.col h3 {
    text-align: center;
}

img {
    max-width: 50px;   
    max-height: 50px; 
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;   
}
.container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}



