{% extends "base.html" %} {% block body %}

  <div class="row">
    <div class="col">
    <h3>Moex</h3>
    </div>
    {% for name, value_dict in values.fiat.items() %}
    <div class="col">
      <p style="text-align: center">{{name}}</p>
      {% for key, value in value_dict.items() %}
        <p style="text-align: center">{{key}} = {{value}}</p>
      {% endfor %}  
    </div>
    {% endfor %}
  </div>

  
  <div class="row">
    <div class="col">
    <h3>Binance</h3>
    </div>
    {% for name, value_dict in values.cripta.items() %}
    <div class="col">
      <p style="text-align: center">{{name}}</p>
      {% for key, value in value_dict.items() %}
        <p style="text-align: center">{{key}} = {{value}}</p>
      {% endfor %}  
    </div>
    {% endfor %}
  </div>
  
  <div class="row">
    <div class="col">
    <h3>Okx</h3>
    </div>
    {% for name, value_dict in values.okx.items() %}
    <div class="col">
      <p style="text-align: center">{{name}}</p>
      {% for key, value in value_dict.items() %}
        <p style="text-align: center">{{key}} = {{value}}</p>
      {% endfor %}  
    </div>
    {% endfor %}
  </div>


{% endblock %}
